body {
	font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

#slides {
	height: 650px;
}

.slides-navigation .back,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation .back {
	left: 20px;
	background-image: url(../img/icons/back.png);
}

.slides-navigation .next {
	left: 20px;
	background-image: url(../img/icons/next.png);
}

.section {
	padding: 100px 0;
	vertical-align: center;
}

/*.eyecatcherSection {
	background-position: center;
 	background-image: url("img/crocodile_kiss.jpg");
  	background-size: cover;
 	height: 100%;
}*/

.aboutImage {
	max-width: 100%;
	justify-content: center;
}

.technicalSkillsSection {
	/* Using flatuicolors palette: https://flatuicolors.com/palette/defo */
	background-color: #00b894;
}

.softSkillsSection {
	/* Using flatuicolors palette: https://flatuicolors.com/palette/defo */
	background-color: #55efc4;
}