body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(https://c.pxhere.com/photos/5d/df/computer_notebook_laptop_publicdomain_macbook_applemacbook-108880.jpg!d);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
	margin-top: 400px;
  	margin-bottom: 30px; 
}

h1 {
	color: white;
	font-size: 125%;
	font-weight: bold;
}

.btn {
	background-color: tomato;
	border: rgb(235, 72, 2);
	border-radius: 25px;
	font-size: 75%;
}

.btn:hover, .btn:active, .btn:visited {
	background-color: #e0543b;
	border: rgb(235, 72, 2);
	font-size: 75%;
}

